<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.Chat_statusMapper">
  <resultMap id="BaseResultMap" type="com.hp.bean.Chat_status">
    <id column="C_S_NUM" jdbcType="INTEGER" property="cSNum" />
    <result column="C_STATUS" jdbcType="VARCHAR" property="cStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    C_S_NUM, C_STATUS
  </sql>
  <select id="selectByExample" parameterType="com.hp.bean.Chat_statusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_chat_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_chat_status
    where C_S_NUM = #{cSNum,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_chat_status
    where C_S_NUM = #{cSNum,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hp.bean.Chat_statusExample">
    delete from e_chat_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hp.bean.Chat_status">
    insert into e_chat_status (C_S_NUM, C_STATUS)
    values (#{cSNum,jdbcType=INTEGER}, #{cStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hp.bean.Chat_status">
    insert into e_chat_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cSNum != null">
        C_S_NUM,
      </if>
      <if test="cStatus != null">
        C_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cSNum != null">
        #{cSNum,jdbcType=INTEGER},
      </if>
      <if test="cStatus != null">
        #{cStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hp.bean.Chat_statusExample" resultType="java.lang.Long">
    select count(*) from e_chat_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update e_chat_status
    <set>
      <if test="record.cSNum != null">
        C_S_NUM = #{record.cSNum,jdbcType=INTEGER},
      </if>
      <if test="record.cStatus != null">
        C_STATUS = #{record.cStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update e_chat_status
    set C_S_NUM = #{record.cSNum,jdbcType=INTEGER},
      C_STATUS = #{record.cStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.bean.Chat_status">
    update e_chat_status
    <set>
      <if test="cStatus != null">
        C_STATUS = #{cStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where C_S_NUM = #{cSNum,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.bean.Chat_status">
    update e_chat_status
    set C_STATUS = #{cStatus,jdbcType=VARCHAR}
    where C_S_NUM = #{cSNum,jdbcType=INTEGER}
  </update>
</mapper>