<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.hp.bean.Class">
    <id column="CLASS_NUM" jdbcType="INTEGER" property="classNum" />
    <result column="CLASS_KIND" jdbcType="VARCHAR" property="classKind" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CLASS_NUM, CLASS_KIND
  </sql>
  <select id="selectByExample" parameterType="com.hp.bean.ClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_class
    where CLASS_NUM = #{classNum,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_class
    where CLASS_NUM = #{classNum,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hp.bean.ClassExample">
    delete from e_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hp.bean.Class">
    insert into e_class (CLASS_NUM, CLASS_KIND)
    values (#{classNum,jdbcType=INTEGER}, #{classKind,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hp.bean.Class">
    insert into e_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classNum != null">
        CLASS_NUM,
      </if>
      <if test="classKind != null">
        CLASS_KIND,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classNum != null">
        #{classNum,jdbcType=INTEGER},
      </if>
      <if test="classKind != null">
        #{classKind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hp.bean.ClassExample" resultType="java.lang.Long">
    select count(*) from e_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update e_class
    <set>
      <if test="record.classNum != null">
        CLASS_NUM = #{record.classNum,jdbcType=INTEGER},
      </if>
      <if test="record.classKind != null">
        CLASS_KIND = #{record.classKind,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update e_class
    set CLASS_NUM = #{record.classNum,jdbcType=INTEGER},
      CLASS_KIND = #{record.classKind,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.bean.Class">
    update e_class
    <set>
      <if test="classKind != null">
        CLASS_KIND = #{classKind,jdbcType=VARCHAR},
      </if>
    </set>
    where CLASS_NUM = #{classNum,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.bean.Class">
    update e_class
    set CLASS_KIND = #{classKind,jdbcType=VARCHAR}
    where CLASS_NUM = #{classNum,jdbcType=INTEGER}
  </update>
</mapper>