<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.ExchangeMapper">
  <resultMap id="BaseResultMap" type="com.hp.bean.Exchange">
    <id column="EXCHANGE_NUM" jdbcType="INTEGER" property="exchangeNum" />
    <result column="EXCHANGE_E" jdbcType="DOUBLE" property="exchangeE" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EXCHANGE_NUM, EXCHANGE_E
  </sql>
  <select id="selectByExample" parameterType="com.hp.bean.ExchangeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_exchange
    where EXCHANGE_NUM = #{exchangeNum,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from e_exchange
    where EXCHANGE_NUM = #{exchangeNum,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hp.bean.ExchangeExample">
    delete from e_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hp.bean.Exchange">
    insert into e_exchange (EXCHANGE_NUM, EXCHANGE_E)
    values (#{exchangeNum,jdbcType=INTEGER}, #{exchangeE,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hp.bean.Exchange">
    insert into e_exchange
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exchangeNum != null">
        EXCHANGE_NUM,
      </if>
      <if test="exchangeE != null">
        EXCHANGE_E,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exchangeNum != null">
        #{exchangeNum,jdbcType=INTEGER},
      </if>
      <if test="exchangeE != null">
        #{exchangeE,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hp.bean.ExchangeExample" resultType="java.lang.Long">
    select count(*) from e_exchange
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update e_exchange
    <set>
      <if test="record.exchangeNum != null">
        EXCHANGE_NUM = #{record.exchangeNum,jdbcType=INTEGER},
      </if>
      <if test="record.exchangeE != null">
        EXCHANGE_E = #{record.exchangeE,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update e_exchange
    set EXCHANGE_NUM = #{record.exchangeNum,jdbcType=INTEGER},
      EXCHANGE_E = #{record.exchangeE,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.bean.Exchange">
    update e_exchange
    <set>
      <if test="exchangeE != null">
        EXCHANGE_E = #{exchangeE,jdbcType=DOUBLE},
      </if>
    </set>
    where EXCHANGE_NUM = #{exchangeNum,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.bean.Exchange">
    update e_exchange
    set EXCHANGE_E = #{exchangeE,jdbcType=DOUBLE}
    where EXCHANGE_NUM = #{exchangeNum,jdbcType=INTEGER}
  </update>
</mapper>