<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.dao.PayMapper">
  <resultMap id="BaseResultMap" type="com.hp.bean.Pay">
    <id column="PAY_NUM" jdbcType="VARCHAR" property="payNum" />
    <result column="TRADE_NO" jdbcType="VARCHAR" property="tradeNo" />
    <result column="U_ID" jdbcType="INTEGER" property="uId" />
    <result column="PAY_TEXT" jdbcType="VARCHAR" property="payText" />
    <result column="PAY_DATE" jdbcType="TIMESTAMP" property="payDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PAY_NUM, TRADE_NO, U_ID, PAY_TEXT, PAY_DATE
  </sql>
  <select id="selectByExample" parameterType="com.hp.bean.PayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_pay
    where PAY_NUM = #{payNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from e_pay
    where PAY_NUM = #{payNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hp.bean.PayExample">
    delete from e_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hp.bean.Pay">
    insert into e_pay (PAY_NUM, TRADE_NO, U_ID, 
      PAY_TEXT, PAY_DATE)
    values (#{payNum,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{uId,jdbcType=INTEGER}, 
      #{payText,jdbcType=VARCHAR}, #{payDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hp.bean.Pay">
    insert into e_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payNum != null">
        PAY_NUM,
      </if>
      <if test="tradeNo != null">
        TRADE_NO,
      </if>
      <if test="uId != null">
        U_ID,
      </if>
      <if test="payText != null">
        PAY_TEXT,
      </if>
      <if test="payDate != null">
        PAY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payNum != null">
        #{payNum,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="payText != null">
        #{payText,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hp.bean.PayExample" resultType="java.lang.Long">
    select count(*) from e_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update e_pay
    <set>
      <if test="record.payNum != null">
        PAY_NUM = #{record.payNum,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeNo != null">
        TRADE_NO = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.uId != null">
        U_ID = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.payText != null">
        PAY_TEXT = #{record.payText,jdbcType=VARCHAR},
      </if>
      <if test="record.payDate != null">
        PAY_DATE = #{record.payDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update e_pay
    set PAY_NUM = #{record.payNum,jdbcType=VARCHAR},
      TRADE_NO = #{record.tradeNo,jdbcType=VARCHAR},
      U_ID = #{record.uId,jdbcType=INTEGER},
      PAY_TEXT = #{record.payText,jdbcType=VARCHAR},
      PAY_DATE = #{record.payDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hp.bean.Pay">
    update e_pay
    <set>
      <if test="tradeNo != null">
        TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="uId != null">
        U_ID = #{uId,jdbcType=INTEGER},
      </if>
      <if test="payText != null">
        PAY_TEXT = #{payText,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PAY_NUM = #{payNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hp.bean.Pay">
    update e_pay
    set TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
      U_ID = #{uId,jdbcType=INTEGER},
      PAY_TEXT = #{payText,jdbcType=VARCHAR},
      PAY_DATE = #{payDate,jdbcType=TIMESTAMP}
    where PAY_NUM = #{payNum,jdbcType=VARCHAR}
  </update>
</mapper>